

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Dashboard/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="page-header-title">
                    <h2 class="mb-0">@ViewData["Title"]</h2>
                </div>
            </div>
        </div>
    </div>
</div>