
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0">Kadir GÜVEN tarafından tasarlanmıştır. <a href="https://www.returnsoftware.com.tr" target="_blank"> <i class="ph-duotone ph-key-return"></i> return Software ürünüdür. Tüm hakları saklıdır.</a></p>
            </div>
            
        </div>
    </div>
</footer>