@using RealState.DTOs.CustomerDTOs

@model CustomerAddDTO

@{
    ViewData["Title"] = "Müşteri Ekleme Ekranı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        @await Component.InvokeAsync("_BreadcrumbPartial")
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="Name">Müşteri Ad Soyad</label>
                                        <input type="text" class="form-control" asp-for="CustomerFullName" placeholder="Müşteri adını soyadını giriniz" />
                                        <span asp-validation-for="CustomerFullName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="Phone">Telefon Numarası</label>
                                        <input type="text" class="form-control" id="CustomerPhone" asp-for="CustomerPhone" data-mask="(999) 999-9999" />
                                        <span asp-validation-for="CustomerPhone" class="text-danger">  </span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="Price">Varsa Müşteri Fiyat Talebi</label>
                                        <input type="text" class="form-control" asp-for="CustomerPrice" placeholder="Müşterinin talep ettiği fiyatı giriniz" />

                                        <small>(TL Cinsinden)</small>
                                        <span asp-validation-for="CustomerPrice" class="text-danger">  </span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="ListingDate">Varsa Müşteri İlan Tarihi</label>
                                        <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="ListingDate" />
                                        <span asp-validation-for="ListingDate" class="text-danger">  </span>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label class="form-label">Müşteri Tipi</label>
                                        <select class="form-control" placeholder="Müşteri tipini seçin" asp-for="CustomerType">
                                            <option value="">Müşteri tipini seçin</option>
                                            <option value="Alıcı">Alıcı</option>
                                            <option value="Satıcı">Satıcı</option>
                                            <option value="Diğer">Diğer</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="ListingNumber">İlan Numarası</label>
                                        <input type="text" class="form-control" asp-for="ListingNumber" placeholder="Varsa İlan Numarası" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="CustomerAddress">Müşteri Adresi</label>
                                        <textarea class="form-control" asp-for="CustomerAddress" rows="2"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="FSBODate">Varsa Müşteri FSBO Arama Tarihi</label>
                                        <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="FSBODate" />
                                        <span asp-validation-for="FSBODate" class="text-danger">  </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="CustomerDescription">Müşteri Açıklaması</label>
                                        <textarea class="form-control" asp-for="CustomerDescription" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly"></div>
                            <button type="submit" class="btn btn-primary mb-4">Müşteri Kaydı Oluştur</button>
                        </form>
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script src="/Able/dist/assets/js/plugins/imask.min.js"></script>

    <script type="text/javascript">
        // Mask için IMask kullanımı
        var phoneMask = IMask(
            document.getElementById('CustomerPhone'), {
            mask: '(000) 000-0000'
        });
    </script>
}
