@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0)">DataTable</a></li>
                            <li class="breadcrumb-item" aria-current="page">Advance Initialization</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h2 class="mb-0">Müşteriler</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Müşteriler</h5>
                        @* <small>
                        When working with DataTables over multiple pages it is often useful to set the initialization defaults to common values
                        </small> *@
                    </div>
                    <div class="card-body">
                        <div class="table-responsive dt-responsive">
                            <div id="setting-default_wrapper" class="dt-container dt-bootstrap5">

                                <div class="row mt-2 justify-content-md-center">
                                    <div class="col-12 ">
                                        <table id="setting-default" class="table table-striped table-bordered nowrap dataTable" aria-describedby="setting-default_info" style="width: 1490px;">
                                            <thead>
                                                <tr role="row">
                                                <tr>
                                                    <th>Customer ID</th>
                                                    <th>Full Name</th>
                                                    <th>Phone</th>
                                                    <th>Listing Number</th>
                                                    <th>Type</th>
                                                    <th>Address</th>
                                                    <th>Room Count</th>
                                                    <th>Price</th>
                                                    <th>Listing Date</th>
                                                    <th>FSBO Date</th>
                                                    <th>Next Call Date</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script src="/Able/dist/assets/js/plugins/dataTables.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Customer/GetCustomer', // Verileri almak için gerekli olan URL'yi ayarlayın
                type: 'GET', // Verileri almak için GET isteği gönderiyoruz
                dataType: 'json', // Sunucudan alınacak veri türü
                success: function (data) {
                    console.log(data);
                    $('#setting-default').DataTable({
                        columns: [
                            { data: "CustomerID" },
                            { data: "CustomerFullName" },
                            { data: "CustomerPhone" },
                            { data: "ListingNumber" },
                            { data: "CustomerType" },
                            { data: "CustomerAddress" },
                            { data: "ListingRoomCount" },
                            { data: "CustomerPrice" },
                            { data: "ListingDate" },
                            { data: "FSBODate" },
                            { data: "NextCallDate" },
                            { data: "CustomerDescription" },
                        ],
                    });
                }



                // ajax : {
                //     "url": "/Customer/GetCustomer",
                //     "type": "GET",
                //     "datatype": "json",
                //     "success": function (data) {
                //         console.log("Data received from server:");
                //         console.log(data);
                //     },
                // },
                // "data" : data,

                // processing: true
            });
        });
    </script>
}