@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0)">DataTable</a></li>
                            <li class="breadcrumb-item" aria-current="page">Advance Initialization</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h2 class="mb-0">Müşteriler</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Müşteriler</h5>
                        @* <small>
                        When working with DataTables over multiple pages it is often useful to set the initialization defaults to common values
                        </small> *@
                    </div>
                    <div class="card-body">
                        <div class="table-responsive dt-responsive">
                            <div id="setting-default_wrapper" class="dt-container dt-bootstrap5">
                                <div class="row mt-2 justify-content-between">
                                    <div class="col-md-auto me-auto ">
                                        <div class="dt-length">
                                            <select name="setting-default_length" aria-controls="setting-default" class="form-select form-select-sm" id="dt-length-6">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            <label for="dt-length-6"> entries per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-auto ms-auto ">
                                        <div class="dt-search">
                                            <label for="dt-search-6">Search:</label>
                                            <input type="search" class="form-control form-control-sm" id="dt-search-6" placeholder="" aria-controls="setting-default">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 justify-content-md-center">
                                    <div class="col-12 ">
                                        <table id="setting-default" class="table table-striped table-bordered nowrap dataTable" aria-describedby="setting-default_info" style="width: 1490px;">
                                            <colgroup>
                                                <col style="width: 294.953px;">
                                                <col style="width: 413.703px;">
                                                <col style="width: 228.438px;">
                                                <col style="width: 134.188px;">
                                                <col style="width: 235.344px;">
                                                <col style="width: 183.375px;">
                                            </colgroup>
                                            <thead>
                                                <tr role="row">
                                                <tr>
                                                    <th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-asc"  tabindex="0">Customer ID</th>
                                                    <th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Position: Activate to sort" tabindex="0">Full Name</th>
                                                    <th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Office: Activate to sort" tabindex="0">Phone</th>
                                                    <th data-dt-column="3" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="Age: Activate to sort" tabindex="0">Listing Number</th>
                                                    <th data-dt-column="4" rowspan="1" colspan="1" class="dt-type-date dt-orderable-asc dt-orderable-desc" aria-label="Start date: Activate to sort" tabindex="0">Type</th>
                                                    <th>Address</th>
                                                    <th>Room Count</th>
                                                    <th>Price</th>
                                                    <th>Listing Date</th>
                                                    <th>FSBO Date</th>
                                                    <th>Next Call Date</th>
                                                    <th>Description</th>
                                                </tr>
                                                    <th >
                                                        <span class="dt-column-title" role="button">Name</span>
                                                        <span class="dt-column-order"></span>
                                                    </th>
                                                    <th >
                                                        <span class="dt-column-title" role="button">Position</span>
                                                        <span class="dt-column-order"></span>
                                                    </th>
                                                    <th >
                                                        <span class="dt-column-title" role="button">Office</span>
                                                        <span class="dt-column-order"></span>
                                                    </th>
                                                    <th >
                                                        <span class="dt-column-title" role="button">Age</span>
                                                        <span class="dt-column-order"></span>
                                                    </th>
                                                    <th >
                                                        <span class="dt-column-title" role="button">Start date</span>
                                                        <span class="dt-column-order"></span>
                                                    </th>
                                                    <th data-dt-column="5" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="Salary: Activate to sort" tabindex="0">
                                                        <span class="dt-column-title" role="button">Salary</span>
                                                        <span class="dt-column-order"></span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="sorting_1">Airi Satou</td>
                                                    <td>Accountant</td>
                                                    <td>Tokyo</td>
                                                    <td class="dt-type-numeric">33</td>
                                                    <td class="dt-type-date">2008/11/28</td>
                                                    <td class="dt-type-numeric">$162,700</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Ashton Cox</td>
                                                    <td>Junior Technical Author</td>
                                                    <td>San Francisco</td>
                                                    <td class="dt-type-numeric">66</td>
                                                    <td class="dt-type-date">2009/01/12</td>
                                                    <td class="dt-type-numeric">$86,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Bradley Greer</td>
                                                    <td>Software Engineer</td>
                                                    <td>London</td>
                                                    <td class="dt-type-numeric">41</td>
                                                    <td class="dt-type-date">2012/10/13</td>
                                                    <td class="dt-type-numeric">$132,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Brielle Williamson</td>
                                                    <td>Integration Specialist</td>
                                                    <td>New York</td>
                                                    <td class="dt-type-numeric">61</td>
                                                    <td class="dt-type-date">2012/12/02</td>
                                                    <td class="dt-type-numeric">$372,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Cedric Kelly</td>
                                                    <td>Senior Javascript Developer</td>
                                                    <td>Edinburgh</td>
                                                    <td class="dt-type-numeric">22</td>
                                                    <td class="dt-type-date">2012/03/29</td>
                                                    <td class="dt-type-numeric">$433,060</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Charde Marshall</td>
                                                    <td>Regional Director</td>
                                                    <td>San Francisco</td>
                                                    <td class="dt-type-numeric">36</td>
                                                    <td class="dt-type-date">2008/10/16</td>
                                                    <td class="dt-type-numeric">$470,600</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Colleen Hurst</td>
                                                    <td>Javascript Developer</td>
                                                    <td>San Francisco</td>
                                                    <td class="dt-type-numeric">39</td>
                                                    <td class="dt-type-date">2009/09/15</td>
                                                    <td class="dt-type-numeric">$205,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Dai Rios</td>
                                                    <td>Personnel Lead</td>
                                                    <td>Edinburgh</td>
                                                    <td class="dt-type-numeric">35</td>
                                                    <td class="dt-type-date">2012/09/26</td>
                                                    <td class="dt-type-numeric">$217,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Garrett Winters</td>
                                                    <td>Accountant</td>
                                                    <td>Tokyo</td>
                                                    <td class="dt-type-numeric">63</td>
                                                    <td class="dt-type-date">2011/07/25</td>
                                                    <td class="dt-type-numeric">$170,750</td>
                                                </tr>
                                                <tr>
                                                    <td class="sorting_1">Gloria Little</td>
                                                    <td>Systems Administrator</td>
                                                    <td>New York</td>
                                                    <td class="dt-type-numeric">59</td>
                                                    <td class="dt-type-date">2009/04/10</td>
                                                    <td class="dt-type-numeric">$237,500</td>
                                                </tr>
                                            </tbody>
                                           
                                        </table>
                                    </div>
                                </div>
                                <div class="row mt-2 justify-content-between">
                                    <div class="col-md-auto me-auto ">
                                        <div class="dt-info" aria-live="polite" id="setting-default_info" role="status">Showing 1 to 10 of 20 entries</div>
                                    </div><div class="col-md-auto ms-auto ">
                                        <div class="dt-paging paging_full_numbers">
                                            <ul class="pagination"><li class="dt-paging-button page-item disabled"><a class="page-link first" aria-controls="setting-default" aria-disabled="true" aria-label="First" data-dt-idx="first" tabindex="-1">«</a></li><li class="dt-paging-button page-item disabled"><a class="page-link previous" aria-controls="setting-default" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">‹</a></li><li class="dt-paging-button page-item active"><a href="#" class="page-link" aria-controls="setting-default" aria-current="page" data-dt-idx="0" tabindex="0">1</a></li><li class="dt-paging-button page-item"><a href="#" class="page-link" aria-controls="setting-default" data-dt-idx="1" tabindex="0">2</a></li><li class="dt-paging-button page-item"><a href="#" class="page-link next" aria-controls="setting-default" aria-label="Next" data-dt-idx="next" tabindex="0">›</a></li><li class="dt-paging-button page-item"><a href="#" class="page-link last" aria-controls="setting-default" aria-label="Last" data-dt-idx="last" tabindex="0">»</a></li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../assets/js/plugins/dataTables.min.js"></script>
    <script src="../assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#setting-default').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetCustomer", "Customer")",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "age" },
                    { "data": "startDate" },
                    { "data": "salary" }
                ]
            });
        });
    </script>
}