@{
    ViewData["Title"] = "Müşteriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="/Able/dist/assets/css/plugins/dataTables.bootstrap5.min.css" />
}
<section class="pc-container">
    <div class="pc-content">
       @await Component.InvokeAsync("_BreadcrumbPartial")
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="table-responsive dt-responsive">
                            <div id="setting-default_wrapper" class="dt-container dt-bootstrap5">
                                <div class="row mt-2 justify-content-md-center">
                                    <div class="col-12 ">
                                        <table id="setting-default" class="table table-striped table-bordered nowrap dataTable" aria-describedby="setting-default_info" style="width: 1490px;">
                                            <thead>
                                                <tr>
                                                    <th>Ad Soyad</th>
                                                    <th>Telefon</th>
                                                    <th>İlan No</th>
                                                    <th>Alıcı/Satıcı</th>
                                                    <th>Adres</th>
                                                    <th>Oda Sayısı</th>
                                                    <th>Fiyat</th>
                                                    <th>İlan Tarihi</th>
                                                    <th>FSBO Tarihi</th>
                                                    <th>Sonraki Arama T.</th>
                                                    <th>Açıklama</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left ">
                            <a href="/Customer/CustomerAdd" class="btn btn-primary">Müşteri Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.autoFill.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.fixedColumns.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.fixedHeader.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Customer/GetCustomer',
                type: 'GET',
                dataType: 'json',
                dataSrc:'',
                success: function (data) {
                    console.log(data);

                    $('#setting-default').DataTable({
                        data:data,
                        columns: [
                            { data: 'CustomerFullName' },
                            { data: 'CustomerPhone' },
                            { data: 'ListingNumber' },
                            { data: 'CustomerType' },
                            { data: 'CustomerAddress' },
                            { data: 'ListingRoomCount' },
                            { data: 'CustomerPrice' },
                            {
                                data: 'ListingDate',
                                render: function (data) {
                                    return new Date(data).toLocaleDateString('tr-TR', {
                                        day: '2-digit',
                                        month: 'short',
                                        year: '2-digit'
                                    });
                                }
                            },
                            {
                                data: 'FSBODate',
                                render: function (data) {
                                    return new Date(data).toLocaleDateString('tr-TR', {
                                        day: '2-digit',
                                        month: 'short',
                                        year: '2-digit'
                                    });
                                }
                            },
                            {
                                data: 'NextCallDate',
                                render: function (data) {
                                    if (data) {
                                        return new Date(data).toLocaleDateString('tr-TR', {
                                            day: '2-digit',
                                            month: 'short',
                                            year: '2-digit'
                                        });
                                    }
                                    return '';
                                }
                            },
                            { data: 'CustomerDescription' }
                        ],
                        language: {
                            "sEmptyTable": "Tabloda veri bulunmuyor",
                            "sInfo": "_TOTAL_ kayıt içinden _START_ - _END_ arası kayıt gösteriliyor",
                            "sInfoEmpty": "Kayıt bulunmuyor",
                            "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ kayıt göster",
                            "sLoadingRecords": "Yükleniyor...",
                            "sProcessing": "İşleniyor...",
                            "sSearch": "Ara:",
                            "sZeroRecords": "Eşleşen kayıt bulunamadı",
                            "oPaginate": {
                                "sFirst": "İlk",
                                "sLast": "Son",
                                "sNext": "Sonraki",
                                "sPrevious": "Önceki"
                            },
                            "oAria": {
                                "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                                "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                            },
                            "buttons": {
                                "copy": "Kopyala",
                                "csv": "CSV",
                                "excel": "Excel",
                                "pdf": "PDF",
                                "print": "Yazdır"
                            }
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
}
