@{
    ViewData["Title"] = "FSBO";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="/Able/dist/assets/css/plugins/dataTables.bootstrap5.min.css" />
}
<section class="pc-container">
    <div class="pc-content">
        @await Component.InvokeAsync("_BreadcrumbPartial")
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive dt-responsive">
                            <div id="setting-default_wrapper" class="dt-container dt-bootstrap5">
                                <div class="row mt-2 justify-content-md-center">
                                    <div class="col-12 ">
                                        <table id="setting-default" class="table table-striped table-bordered nowrap dataTable" aria-describedby="setting-default_info" style="width: 1490px;">
                                            <thead>
                                                <tr>
                                                    <th>İlan No</th>
                                                    <th>Telefon</th>
                                                    <th>Açıklama</th>
                                                    <th>Tarih</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left ">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createFSBOModal">
                                Yeni FSBO Ekle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="createFSBOModal" tabindex="-1" aria-labelledby="createFSBOModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFSBOModalLabel">Yeni FSBO Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createFSBOForm">
                    <div class="mb-3">
                        <label for="listingNumber" class="form-label">İlan No</label>
                        <input type="text" class="form-control" id="listingNumber" name="ListingNumber" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Telefon</label>
                        <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Açıklama</label>
                        <textarea class="form-control" id="description" name="Description" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.bootstrap5.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.autoFill.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.fixedColumns.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.buttons.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.fixedHeader.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/dataTables.responsive.min.js"></script>

    <script src="/Able/dist/assets/js/plugins/jszip.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/pdfmake.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/vfs_fonts.js"></script>
    <script src="/Able/dist/assets/js/plugins/buttons.html5.min.js"></script>
    <script src="/Able/dist/assets/js/plugins/buttons.print.min.js"></script>

    <script src="/Able/dist/assets/js/plugins/imask.min.js"></script>

    <script type="text/javascript">
        // Mask için IMask kullanımı
        var phoneMask = IMask(
            document.getElementById('phoneNumber'), {
            mask: '(000) 000-0000'
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/FSBO/GetFSBO',
                type: 'GET',
                dataType: 'json',
                dataSrc: '',
                success: function (data) {
                    console.log(data);

                    $('#setting-default').DataTable({
                        data: data,
                        columns: [
                            { data: 'ListingNumber' },
                            { data: 'PhoneNumber' },
                            { data: 'Description' },
                            {
                                data: 'CreatedDate',
                                render: function (data) {
                                    if (data) {
                                        var date = new Date(data);
                                        var options = {
                                            day: '2-digit',
                                            month: 'short',
                                            year: '2-digit',
                                            hour: '2-digit',
                                            minute: '2-digit',
                                            hour12: false
                                        };

                                        var formattedDate = new Intl.DateTimeFormat('tr-TR', options).format(date);

                                        return formattedDate;
                                    }
                                    return '';
                                }
                            }

                        ],
                        dom: 'Bfrtip', // Add this to include the buttons
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="fas fa-copy"></i> Kopyala',
                                className: 'btn  btn-outline-secondary'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="fas fa-file-csv"></i> CSV',
                                className: 'btn  btn-outline-secondary'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fas fa-file-excel"></i> Excel',
                                className: 'btn  btn-outline-success'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="fas fa-file-powerpoint"></i> PDF',
                                className: 'btn btn-outline-danger'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i> Yazdır',
                                className: 'btn btn-outline-secondary'
                            }
                        ],
                        language: {
                            "sEmptyTable": "Tabloda veri bulunmuyor",
                            "sInfo": "_TOTAL_ kayıt içinden _START_ - _END_ arası kayıt gösteriliyor",
                            "sInfoEmpty": "Kayıt bulunmuyor",
                            "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ kayıt göster",
                            "sLoadingRecords": "Yükleniyor...",
                            "sProcessing": "İşleniyor...",
                            "sSearch": "Ara:",
                            "sZeroRecords": "Eşleşen kayıt bulunamadı",
                            "oPaginate": {
                                "sFirst": "İlk",
                                "sLast": "Son",
                                "sNext": "Sonraki",
                                "sPrevious": "Önceki"
                            },
                            "oAria": {
                                "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                                "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                            },
                            "buttons": {
                                "copy": "Kopyala",
                                "csv": "CSV",
                                "excel": "Excel",
                                "pdf": "PDF",
                                "print": "Yazdır"
                            }
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });


            $('#createFSBOForm').on('submit', function (e) {
                e.preventDefault();

                var formData = {
                    ListingNumber: $('#listingNumber').val(),
                    PhoneNumber: $('#phoneNumber').val(),
                    Description: $('#description').val()
                };

                $.ajax({
                    url: '/FSBO/CreateFSBO',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        
                        $('#createFSBOModal').modal('hide');
                        window.location.reload(); // Sayfayı yenile
                    },
                    error: function (xhr, status, error) {
                        console.error('Hata:', error);
                        alert('FSBO eklenirken bir hata oluştu.');
                    }
                });
            });
        });
    </script>
}
