

<head>
    <title>@Constants.RealEstateName</title>
    <!-- [Meta] -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
          content="@Constants.RealEstateName yönetim sitesidir." />
    <meta name="keywords"
          content="@Constants.RealEstateName, Emlak, Gayrimenkul" />
    <meta name="author" content="@Constants.RealEstateName" />

    <!-- [Favicon] icon -->
    <link rel="icon" href="/Able/dist/assets/images/favicon.svg" type="image/x-icon" />
    <!-- [Font] Family -->
    <link rel="stylesheet" href="/Able/dist/assets/fonts/inter/inter.css" id="main-font-link" />
    <!-- [phosphor Icons] https://phosphoricons.com/ -->
    <link rel="stylesheet" href="/Able/dist/assets/fonts/phosphor/duotone/style.css" />
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="/Able/dist/assets/fonts/tabler-icons.min.css" />
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="/Able/dist/assets/fonts/feather.css" />
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="/Able/dist/assets/fonts/fontawesome.css" />
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="/Able/dist/assets/fonts/material.css" />
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="/Able/dist/assets/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="/Able/dist/assets/css/style-preset.css" />

 

</head>